header {
    font-size: 24px;
}

body {
    background: #CCCCCC;
}

h1 {
    color: #3C2317;
}

h2 {
    color: #98D6EA;
}

p {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

em strong {
    color: #628E90;
}

#mision {
    font-size: 20px;
}

#barberia {
    display: block;
    width: 80%;
    border-radius: 20px;
    margin: 0px auto 20px auto;
}

#negro {
    width: 40%;
    border-radius: 20px;
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
}

ul {
    vertical-align: top;
    display: inline-block;
    margin: 0px 100px 100px 0px;
}

.titulo {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.texto {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.inicio {
    background-color: #F0F0F0;
    border-radius: 5px;
    padding: 5px 30px 5px;
}

.diferenciales {
    background-color: white;
    border-radius: 10px;
    padding: 5px 30px 5px;
}